version: "3"

services:
  strapi:
    build: ./config/docker/strapi
    container_name: strapi_api
    environment:
      - NODE_ENV=production
      - APP_NAME=strapi-app
      - DATABASE_CLIENT=${DATABASE_CLIENT}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_SRV=${DATABASE_SRV}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_SSL=${DATABASE_SSL}
      - DATABASE_AUTHENTICATION_DATABASE=${DATABASE_AUTHENTICATION_DATABASE}
      - LOCAL_USER_ID=$USER_ID
      - LOCAL_GROUP_ID=$GROUP_ID
      - PGID=1000
      - PUID=1000
      - TZ=Europe/London
      - VIRTUAL_HOST=api.${SITE_URL}
      - VIRTUAL_PORT=1337
      - LETSENCRYPT_HOST=api.${SITE_URL}
      - LETSENCRYPT_EMAIL=${MAILER_DEFAUT_SENDER_ADDRESS}
    volumes:
      - .:/app
    ports:
      - 1337:1337

  youtube_audio:
    build: ./config/docker/youtube-audio
    container_name: youtube_audio
    environment:
      - PGID=1000
      - PUID=1000
      - TZ=Europe/London
      - VIRTUAL_HOST=audio.${SITE_URL}
      - VIRTUAL_PORT=8080
      - LETSENCRYPT_HOST=audio.${SITE_URL}
      - LETSENCRYPT_EMAIL=${MAILER_DEFAUT_SENDER_ADDRESS}
      - KEY=${YOUTUBE_KEY_API}
    ports:
      - ${APP_YOUTUBE_PORT}:80
